

#background {
    background-color: #FFF192;
    text-align: center;
}

.buttons {
    border-color: black;
    border-style: dotted solid dotted solid;
    display: inline-flex;
    text-decoration: none;
}
.reviews {
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.pagetitles {
    text-align: center;
    font-weight: bolder;
    background-color: #B8E2F2;
    
}
iframe {
    text-align: center;
    height: 400px;
    width: 1338px;
}
.contactinfo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.righttable {
    text-align: right;
}
.lefttable {
    text-align: left;
}